data "nobl9_project" "{{ .DataSourceName }}" {
  name = "{{ .ProjectName }}"
}

resource "nobl9_service" "{{ .ResourceName }}" {
  name = "{{ .ServiceName }}"
  project = data.nobl9_project.{{ .DataSourceName }}.name
}
