resource "nobl9_service" "{{ .ResourceName }}" {
  {{- template "metadata" . -}}
  {{- if .ResponsibleUsers }}
  responsible_users = [
    {{- range .ResponsibleUsers }}
    {
      id = "{{ valueString .ID }}"
    },
    {{- end }}
  ]
  {{- end }}
  {{- if .ReviewCycle }}
  review_cycle = {
    rrule      = "{{ valueString .ReviewCycle.RRule }}"
    start_time = "{{ valueString .ReviewCycle.StartTime }}"
    time_zone  = "{{ valueString .ReviewCycle.TimeZone }}"
  }
  {{- end }}
}
