---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Alert Methods"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The **Slack Alert Method** allows sending a predefined notification through Slack to notify Nobl9 users whenever an incident is triggered.

-> **NOTE** To set up the Slack integration, you'll need to provide an Incoming Webhook URL. This allows Slack to send an automated notification to a channel of your choice. For details, see the [Slack documentation](https://slack.com/help/articles/115005265063-Incoming-webhooks-for-Slack%22).

For more details, refer to {{ .Description | trimspace }}.

## Example Usage

Here's an example of Slack Terraform resource configuration:

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Useful links

[Slack alerts configuration | Nobl9 documentation](https://docs.nobl9.com/Alert_Methods/slack/)