---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Alert Methods"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The **MS Teams Alert Method** enables sending alerts through MS Teams to notify Nobl9 users whenever an incident is triggered.

For more details, refer to {{ .Description | trimspace }}.

## Example Usage

Here's an example of MS Teams Terraform resource configuration:

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Useful Links

[MS Teams alerts configuration | Nobl9 Documentation](https://docs.nobl9.com/Alerting/Alert_methods/msteams/)

[MS Teams webhooks | MS Teams Documentation](https://learn.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook)