---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Alert Methods"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The **Webhook Alert Method** enables sending alerts through an HTTP callback handler that is triggered by an event. You can create webhooks and configure them to handle different incident notifications, using either custom or predefined notification templates.

-> **NOTE** For details on how to use Webhook message templates, check the [Nobl9 documentation](https://docs.nobl9.com/Alert_Methods/webhook#creating-webhook-custom-templates-through-yaml).

For more details, refer to {{ .Description | trimspace }}.

## Example Usage

Here's an example of Webhook Terraform resource configuration:

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Useful Links

[Webhook alerts documentation | Nobl9 Documentation](https://docs.nobl9.com/Alert_Methods/webhook/)