---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Alert Methods"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The **MS Teams Alert Method** enables sending alerts through MS Teams to notify Nobl9 users whenever an incident is triggered.

For more details, refer to {{ .Description | trimspace }}.

## Example Usage

Here's an example of MS Teams Terraform resource configuration:

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Useful Links

[MS Teams alerts configuration | Nobl9 Documentation](https://docs.nobl9.com/Alerting/Alert_methods/msteams/)

[MS Teams webhooks | MS Teams Documentation](https://learn.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook)---
page_title: "nobl9_alert_method_msteams Resource - terraform-provider-nobl9"
subcategory: "Alert Methods"
description: |-
  MS Teams Alert Method | Nobl9 Documentation https://docs.nobl9.com/Alerting/Alert_methods/ms-teams
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# nobl9_alert_method_msteams (Resource)

The **MS Teams Alert Method** enables sending alerts through MS Teams to notify Nobl9 users whenever an incident is triggered.

For more details, refer to [MS Teams Alert Method | Nobl9 Documentation](https://docs.nobl9.com/Alerting/Alert_methods/ms-teams).

## Example Usage

Here's an example of MS Teams Terraform resource configuration:

{{tffile "examples/resources/alert_method_msteams/example_1.tf"}}

<!-- schema generated by tfplugindocs -->

## Schema

### Required

- `name` (String) Unique name of the resource, must conform to the naming convention from [DNS RFC1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).
- `project` (String) Name of the Nobl9 project the resource sits in, must conform to the naming convention from [DNS RFC1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).

### Optional

- `description` (String) Optional description of the resource. Here, you can add details about who is responsible for the integration (team/owner) or the purpose of creating it.
- `display_name` (String) User-friendly display name of the resource.
- `url` (String, Sensitive) MS Teams [webhook endpoint URL](https://learn.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook).

### Read-Only

- `id` (String) The ID of this resource.

## Useful Links

[MS Teams alerts configuration | Nobl9 Documentation](https://docs.nobl9.com/Alerting/Alert_methods/msteams/)

[MS Teams webhooks | MS Teams Documentation](https://learn.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook)
