---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

Sumo Logic is an observability platform that provides visibility into AWS, Azure, and GCP cloud applications and infrastructure. Nobl9 connects to Sumo Logic for SLI measurement collection and comparison with SLO targets.

For more information, refer to {{ .Description | trimspace }}

{{ .SchemaMarkdown | trimspace }}

## Nobl9 Official Documentation

https://docs.nobl9.com/
---
page_title: "nobl9_direct_sumologic Resource - terraform-provider-nobl9"
description: |-
  Sumo Logic Direct | Nobl9 Documentation https://docs.nobl9.com/Sources/sumo-logic#sumo-logic-direct.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# nobl9_direct_sumologic (Resource)

Sumo Logic is an observability platform that provides visibility into AWS, Azure, and GCP cloud applications and infrastructure. Nobl9 connects to Sumo Logic for SLI measurement collection and comparison with SLO targets.

For more information, refer to [Sumo Logic Direct | Nobl9 Documentation](https://docs.nobl9.com/Sources/sumo-logic#sumo-logic-direct).

## Example Usage

{{tffile "examples/resources/direct_sumologic/example_1.tf"}}

<!-- schema generated by tfplugindocs -->

## Schema

### Required

- `name` (String) Unique name of the resource, must conform to the naming convention from [DNS RFC1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).
- `project` (String) Name of the Nobl9 project the resource sits in, must conform to the naming convention from [DNS RFC1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).
- `url` (String) Sumo Logic API URL.

### Optional

- `access_id` (String, Sensitive) [required] | Sumo Logic API Access ID.
- `access_key` (String, Sensitive) [required] | Sumo Logic API Access Key.
- `description` (String) Optional description of the resource. Here, you can add details about who is responsible for the integration (team/owner) or the purpose of creating it.
- `display_name` (String) User-friendly display name of the resource.
- `log_collection_enabled` (Boolean) [Logs documentation](https://docs.nobl9.com/Features/SLO_troubleshooting/event-logs)
- `query_delay` (Block Set, Max: 1) [Query delay configuration documentation](https://docs.nobl9.com/Features/query-delay). Computed if not provided. (see [below for nested schema](#nestedblock--query_delay))
- `release_channel` (String) Release channel of the created datasource [stable/beta]
- `source_of` (List of String, Deprecated) This value indicated whether the field was a source of metrics and/or services. 'source_of' is deprecated and not used anywhere; however, it's kept for backward compatibility.

### Read-Only

- `id` (String) The ID of this resource.
- `status` (String) The status of the created direct.

<a id="nestedblock--query_delay"></a>

### Nested Schema for `query_delay`

Required:

- `unit` (String) Must be one of Minute or Second.
- `value` (Number) Must be an integer greater than or equal to 0.

## Nobl9 Official Documentation

https://docs.nobl9.com/
