---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Groupings and Utilities"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

A **service** in Nobl9 is a high-level grouping of Service Level Objectives (SLOs). A service can represent a logical service endpoint like an API, a database, an application, or anything else you care about setting an SLO for. Every SLO in Nobl9 is tied to a service, and the service can have one or more SLOs.

For more details, refer to the {{ .Description | trimspace }}.

{{ .SchemaMarkdown | trimspace }}

## Useful Links

[Services in Nobl9 | Nobl9 Documentation](https://docs.nobl9.com/#services)

[Service YAML Configuration | Nobl9 Documentation](https://docs.nobl9.com/yaml-guide/#service)
---
page_title: "nobl9_service Resource - terraform-provider-nobl9"
subcategory: "Groupings and Utilities"
description: |-
  Service configuration | Nobl9 Documentation https://docs.nobl9.com/yaml-guide#service
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# nobl9_service (Resource)

A **service** in Nobl9 is a high-level grouping of Service Level Objectives (SLOs). A service can represent a logical service endpoint like an API, a database, an application, or anything else you care about setting an SLO for. Every SLO in Nobl9 is tied to a service, and the service can have one or more SLOs.

For more details, refer to the [Service configuration | Nobl9 Documentation](https://docs.nobl9.com/yaml-guide#service).

## Example Usage

Here's an example of Service resource configuration:

{{tffile "examples/resources/service/example_1.tf"}}

<!-- schema generated by tfplugindocs -->

## Schema

### Required

- `name` (String) Unique name of the resource, must conform to the naming convention from [DNS RFC1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).
- `project` (String) Name of the Nobl9 project the resource sits in, must conform to the naming convention from [DNS RFC1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).

### Optional

- `description` (String) Optional description of the resource. Here, you can add details about who is responsible for the integration (team/owner) or the purpose of creating it.
- `display_name` (String) User-friendly display name of the resource.
- `label` (Block List) [Labels](https://docs.nobl9.com/Features/labels/) containing a single key and a list of values. (see [below for nested schema](#nestedblock--label))

### Read-Only

- `id` (String) The ID of this resource.
- `status` (Map of Number) Status of created service.

<a id="nestedblock--label"></a>

### Nested Schema for `label`

Required:

- `key` (String) A key for the label, unique within the associated resource.
- `values` (List of String) A list of unique values for a single key.

## Useful Links

[Services in Nobl9 | Nobl9 Documentation](https://docs.nobl9.com/#services)

[Service YAML Configuration | Nobl9 Documentation](https://docs.nobl9.com/yaml-guide/#service)
