---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

An SLO is a target value or range of values for a service that is measured by a service level indicator (SLI). SLOs allows you to define the reliability of your products and services in terms of customer expectations. You can create SLOs for user journeys, internal services, or even infrastructure.

For more information, refer to {{ .Description | trimspace }}


## Composite SLOs 2.0

Use the `depends_on` meta-argument to specify component SLOs your composite must depend on. It addresses incorrect application order issues.

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Nobl9 Official Documentation

https://docs.nobl9.com/getting-started/nobl9-resources/slo

https://docs.nobl9.com/yaml-guide#slo
