---
page_title: "Nobl9 Provider"
description: |-
  The Nobl9 provider provides utilities for working with Nobl9 API.
---

# {{ .ProviderShortName | upper }} Provider

The Nobl9 provider provides utilities for working with Nobl9 API to create and manage resources such as:
- SLOs
- Services
- Projects
- Alert Policies
- Alert Methods
- Data Sources
- Role Bindings

You can use the Nobl9 provider as an alternative to [sloctl](https://docs.nobl9.com/sloctl-user-guide/).

## Configuration

First, you must configure the provider with the proper credentials. Then, use the navigation on the left to learn more about the available resources.

The following is an exemplary configuration:

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}